<footer class="text-center py-2 text-sm text-gray-500">
  <a href="https://github.com/lissy93/permissionator">Permissionator</a>
  is licensed under MIT, copyright © 2025
  <a href="https://aliciasykes.com">Alicia Sykes</a>. 
</footer>
